<form [formGroup]="form" (ngSubmit)="submit()" class="todo-form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" id="title" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput rows="4" id="description" formControlName="description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Save
  </button>
</form>
